services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cred-pal-task-container
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      MONGO_URI: "${MONGO_URI}" 
      JWT_SECRET: "${JWT_SECRET}"
    restart: unless-stopped
